*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navTop {
  height: 60px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__link {
  color: rgb(10, 112, 245);
  font-size: 1rem;
  font-family: Lato;
  cursor: pointer;
  font-weight: 600;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}