.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
    position: absolute;

    .listSearch {
      flex: 1;
      background-color: #febb02;
      padding: 10px;
      border-radius: 10px;
      position: sticky;
      top: 90px;
      height: max-content;

      .lsTitle {
        font-size: 20px;
        color: #555;
        margin-bottom: 10px;
      }

      .lsItem {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;

        label {
          font-size: 12px;
        }

        input {
          border: none;
          outline: none;
          height: 30px;
          padding: 5px;
        }
        span {
          height: 30px;
          padding: 5px;
          background-color: white;
          display: flex;
          align-items: center;
          cursor: pointer;
        }

        .lsOptionsItem {
          display: flex;

          .lsOptionText {
            color: white;
            width: 140px;
            background-color: rgb(255, 136, 0);
          }

          .lsOptionInput {
            width: 100px;
          }
        }
      }
      .searchBtn {
        width: 100%;
        padding: 8px;
        border: none;
        outline: none;
        color: white;
        font-weight: 500;
        letter-spacing: 2px;
        background-color: rgb(17, 17, 116);
      }
    }

    .listResult {
      flex: 3;
    }
  }
}

