.pList {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

    .pListItem {
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;

        .pListImg {
            width: 180px;
            height: 180px;
            object-fit: cover;
        }

        h1 {
            font-size: 18px;
            font-weight: 600;
        }

        h2 {
            font-size: 14px;
            color: gray;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}