.navbar {
    height: 60px;
    background-color: rgba(77, 75, 75, 0.536);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    .navContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        width: 1024px;
        
        .logo {
            display: flex;
            align-items: center;

            img{
                width: 40px;
                height: 40px;
                margin: 5px 10px;
            }

            p{
                color: rgb(250, 225, 0);
                font-weight: 700;
                font-size: 20px;
                letter-spacing: 1px;
            }
        }

        .navItems{
            button{
                margin: 5px 10px;
                padding: 5px 10px;
                color: rgb(15, 15, 142);
                font-weight: bold;
                backdrop-filter: blur(10px);

                &:hover{
                    color: white;
                    background-color: rgb(14, 65, 132);
                }
            }
        }

    }
}